.button_task {
    padding: 10px;
    background-color: black;
    color: #fff;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;

}


.button-delete {
    cursor: pointer;
    border: none;
    background-color: #f8f4f4;
}

svg {
    background-color: #f8f4f4;
    border: none;
}